:root {
  --pr-ungu: rgba(59, 19, 238, 0.753);
}
body {
  background-color: #fff;
}

/*navbar tugas*/
.navbar-brand {
  font-size: 20px;
  font-weight: 700;
}
.nav-link.active {
  font-size: 16px;
  font-weight: 700;
}
.nav-link {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}
.btn-masuk {
  width: 133px;
  height: 40px;
  background-color: var(--pr-ungu);
  border: none;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
.ber {
  color: #000;
}
.s {
  color: #000;
}

/*end navbar tugas*/
/* style hero  */
#hero {
  background: linear-gradient(160deg, var(--pr-hijau), #000);
  height: 100vh;
}
.text-hero h1 {
  font-size: 60px;
  font-weight: 700;
  color: #000;
  line-height: 70px;
  font-style: bold;
}
.warna {
  color: var(--pr-ungu);
}
.text-hero p {
  font-size: 16px;
  font-weight: 400;
  color: gray;
  line-height: 30px;
  width: 75%;
}

.btn-lg {
  width: 237px;
  height: 70px;
  font-size: 23px;
  font-weight: 700;
  background-color: var(--pr-ungu);
  color: #fff;
  border: none;
  border-radius: 50px;
}
.btn-vid {
  width: 237px;
  height: 70px;
  font-size: 26px;
  font-weight: 700;
  background-color: #fff;
  color: var(--pr-ungu);
  border: 1px solid var(--pr-ungu);
  border-radius: 50px;
}
img {
  text-align: center;
}
.we {
  color: black;
  font-style: bold;
}
.icon {
  color: #000;
}

/* end style hero */

/* style alasan*/
#alasan {
  padding: 100px 0;
  width: 100%;
}
h1 {
  font-size: 45px;
  font-weight: 700;
  color: #000;
  font-style: bold;
}
p {
  font-size: 18px;
  font-weight: 400;
  color: gray;
}
.card-body {
  height: 284px;
  border-radius: 5px;
  background-color: #fff;
  padding: 20px;
  transition: all 0.1s ease-in;
}
.card-body img {
  height: 70px;
  width: 70px;
  border: none;
  transition: all 0.1s ease-in;
}
.card-body h4 {
  font-size: 24px;
  font-weight: 500;
  color: var(--pr-hijau);
  transition: all 0.1s ease-in;
}
.card-body p {
  font-size: 17px;
  font-weight: 400;
  color: gray;
  transition: all 0.1s ease-in;
}
/*end style alasan*/

/* style profil*/
#profil{
  padding: 55px 0;
  width: 100%;
}
.sambutan h2{
  font-size: 30px;
  font-weight: 700;
}
.sambutan p{
  font-size: 16px;
}
.btn-prfl{
  height: 62px;
  width: 212px;
  background-color: var(--pr-ungu);
  color: #fff;
  border: none;
  border-radius: 50px;
}
.text-sb{
  color: var(--pr-ungu);
}
/* end stylr profil*/

/* style jurusan*/
#jurusan{
  padding: 55px 0;
  width: 100%;
}
.card-juru{
  height: 220px;
  border-radius: 5px;
  background-color: var(--pr-ungu);
  padding: 30px;
  transition: all 0.1s ease-in;
}
.card-juru img{
  height: 35px;
  width: 35px;
  border: none;
  background-color: #fff;
  transition: all 0.1s ease-in;
}
.card-juru h5{
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  transition: all 0.1s ease-in;
}
.card-juru p{
  font-size: 17px;
  font-weight: 400;
  color: #fff;
  transition: all 0.1s ease-in;
}
/* end style jurusan*/

/* style eskul*/
#eskul{
  padding: 100px 0;
  width: 100%;
}
.card-eskul{
  height: 250px;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 500;
  background-color: #fff;
  padding: 15px;
  transition: all 0.1s ease-in;
}
.card-eskul img{
  height: 50px;
  width: 50px;
  border: none;
  background-color: #fff;
  transition: all 0.1s ease-in;
}
.lamfim{
  height: 90px;
  width: 90px;
}
.card-eskul h5{
  font-size: 25px;
  font-weight: 500;
  color: #000;
  transition: all 0.1s ease-in;
}
.card-eskul p{
  font-size: 17px;
  font-weight: 400;
  color: gray;
  transition: all 0.1s ease-in;
}
/* end style eskul*/

/* style berita*/
#berita{
  padding: 100px 0;
  width: 100%;
  height: 100vh;
}
.card-rita{
  height: 150px;
  border-radius: 5px;
  background-color: #fff;
  padding: 5px;
  transition: all 0.1s ease-in;
}
.card-rita img{
  height: 90px;
  width: 90px;
  border: none;
  background-color: #fff;
  transition: all 0.1s ease-in;
}
.card-rita h5{
  font-size: 16px;
  font-weight: 500;
  color: #000;
  transition: all 0.1s ease-in;
}
.card-rita p{
  font-size: 10px;
  font-weight: 400;
  color: gray;
  transition: all 0.1s ease-in;
}
.card-rita span{
  font-size: 10px;
  font-weight: 400;
  color: var(--pr-ungu);
  transition: all 0.1s ease-in;
}
/* end style berita*/
